<template name="header">
    <div id="header" class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                {{constant 'name'}}
            </a>
            <a class="item home">Home</a>
            <div class="ui simple dropdown item">
                Resources <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item near-res" href="#">Near Me</a>
                    <a class="item saved-res" href="#">Saved</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i> Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                    <a class="item resources" href="#">All</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Organizations <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item near-orgs" href="#">Near Me</a>
                    <a class="item saved-orgs" href="#">Saved</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i> Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                    <a class="item organizations" href="#">All</a>
                </div>
            </div>
        </div>
    </div>

<!--     <div class="center aligned {{isActive}} header-wrapper">
        <h1 class="huge center aligned main ui header">
            {{constant 'name'}}
            <div class="sub header">
                {{constant 'description'}}
            </div>
            <div class="sub header">
                Created by Dan Rubins (<a href="https://github.com/dhrubins"><i class="fa fa-github"></i></a> <a href="https://twitter.com/DanRubins"><i class="fa fa-twitter"></i></a> <a href="https://www.linkedin.com/in/danrubins"><i class="fa fa-linkedin"></i></a>) and Aidan Waite (<a href="https://github.com/aidan-waite"><i class="fa fa-github"></i></a> <a href="https://twitter.com/aidanwaitecomma"><i class="fa fa-twitter"></i></a>) for the <a href="http://www.techforjustice.org/legal-justice-hackathon/">Tech for Justice hackathon</a>
            </div>
        </h1>
        <button class="basic ui resize icon button"><i class="{{iconClass}} icon"></i></button>
        {{#if showLogin}}
        <div class="login-wrapper {{animateClass}} animated">
            {{#if currentUser}}
            <div class="actions-wrapper">
                {{#if currentUser.username}}
                <div class="hello">Hi {{currentUser.username}}!</div>
                {{/if}}
                <div class="ui fluid purple log-out button">
                    <i class="sign out icon"></i> Log out
                </div>
            </div>
            {{else}} {{> atForm }} {{/if}}
        </div>
        {{/if}}
    </div> -->
</template>