<template name="footer">
	<div class="page-footer">
	    <div class="ui inverted segment">
	        <div class="ui horizontal inverted small divided link list">
	            <div class="item"><a href="http://www.techforjustice.org/legal-justice-hackathon/">Tech for Justice hackathon</a> project by <a href="https://github.com/dhrubins">Dan Rubins</a> &amp; <a href="https://github.com/aidan-waite">Aidan Waite</a></div>
	            <a class="item" href="#">Contact Us</a>
	            <a class="item" href="#">Terms of Service</a>
	            <a class="item" href="#">Privacy</a>
	        </div>
	    </div>
	</div>
</template>

