<template name="footer">
    <div class="ui inverted padding-wrapper footer segment">
        <a href="http://www.techforjustice.org/legal-justice-hackathon/">Tech for Justice hackathon</a> project by Dan Rubins ( <a href="https://github.com/dhrubins"><i class="fa fa-github"></i></a> <a href="https://twitter.com/DanRubins"><i class="fa fa-twitter"></i></a> <a href="https://www.linkedin.com/in/danrubins"><i class="fa fa-linkedin"></i></a> ) and Aidan Waite ( <a href="https://github.com/aidan-waite"><i class="fa fa-github"></i></a> <a href="https://twitter.com/aidanwaitecomma"><i class="fa fa-twitter"></i></a>)
    </div>
</template>

